%The Enrichment facility is a simple agent that enriches natural 
%uranium in a Cyclus simulation. It does not explicitly compute 
%the physical enrichment process, rather it calculates 
%the SWU required to convert an source uranium recipe (i.e. natural 
%uranium) into a requested enriched recipe (i.e. 4% enriched 
%uranium), given the natural uranium inventory constraint 
%and its SWU capacity constraint.
%
%The Enrichment facility 
%requests an input commodity and associated recipe whose quantity 
%is its remaining inventory capacity.  All facilities 
%trading the same input commodity (even with different recipes) 
%will offer materials for trade.  The Enrichment facility 
%accepts any input materials with enrichments less than its tails 
%assay, as long as some U235 is present, and preference 
%increases with U235 content.  If no U235 is present in the offered 
%material, the trade preference is set to -1 and the material 
%is not accepted.  Any material components other than 
%U235 and U238 are sent directly to the tails buffer.
%
%The Enrichment 
%facility will bid on any request for its output commodity 
%up to the maximum allowed enrichment (if not specified, 
%default is 100%) It bids on either the request quantity, 
%or the maximum quanity allowed by its SWU constraint or natural 
%uranium inventory, whichever is lower. If multiple output 
%commodities with different enrichment levels are requested 
%and the facility does not have the SWU or quantity capacity 
%to meet all requests, the requests are fully, then partially 
%filled in unspecified but repeatable order.
%
%Accumulated 
%tails inventory is offered for trading as a specifiable output 
%commodity.
%
Enrichment {
                %(optional) feed commodity that the enrichment facility accep
                %ts
                feed_commod=
                %(optional) recipe for enrichment facility feed commodity
                feed_recipe=
                %(optional) amount of natural uranium stored at the enrichment 
                %facility at the beginning of the simulation (kg)
                initial_feed=
                %(optional) Latitude of the agent's geographical position. The 
                %value should be expressed in degrees as a double.
                latitude=
                %(optional) Longitude of the agent's geographical position. The 
                %value should be expressed in degrees as a double.
                longitude=
                %(optional) maximum allowed weight fraction of U235 in produc
                %t
                max_enrich=
                %(optional) maximum total inventory of natural uranium in the 
                %enrichment facility (kg)
                max_feed_inventory=
                %(optional) turn on preference ordering for input material so 
                %that EF chooses higher U235 content first
                order_prefs=
                %(optional) product commodity that the enrichment facility ge
                %nerates
                product_commod=
                %(optional) separative work unit (SWU) capacity of enrichment 
                %facility (kgSWU/timestep) 
                swu_capacity=
                %(optional) tails assay from the enrichment process
                tails_assay=
                %(optional) tails commodity supplied by enrichment facility
                tails_commod=
}