			%A region that governs a scenario in which there is growth in 
			%demand for a commodity. 
			%
			%(
			%o
			%p
			%t
			%i
			%o
			%n
			%a
			%l
			%)
			%n
			%o
			% 
			%d
			%o
			%c
			% 
			%a
			%v
			%a
			%i
			%l
			%a
			%b
			%l
			%e
			%.
			growth {item {commod {}
			%(optional) Latitude of the agent's geographical position. The 
			%value should be expressed in degrees as a double.
			latitude {}
			%(optional) Longitude of the agent's geographical position. The 
			%value should be expressed in degrees as a double.
			longitude {}