%A region that governs a scenario in which there is growth in 
%demand for a commodity. 
%
GrowthRegion {
                	% [] no doc available.
                growth {item {commod =

                              piecewise_function {piece {function {params =

                                                                   type =}

start =}
                                                                  }
                                                        }
                                                 }

                	%(optional) [double] Latitude of the agent's geographical position. 
                	%The value should be expressed in degrees as a double.
                	%
                latitude =0.0

                	%(optional) [double] Longitude of the agent's geographical position. 
                	%The value should be expressed in degrees as a double
                	%.
                longitude =0.0

}