{
"simulation": {
    "archetypes" : {
    "spec": [ARCHETYPES_HERE_SHOULD_BE_AUTOFILLED_DONT_WORRY]
    },
    "control": {"duration": DURATION_HERE,
                "startmonth": STARTMONTH_HERE,
                "startyear": STARTYEAR_HERE},
    "facility": [FACILITIES_HERE],
    "recipe": [RECIPES_HERE],
    "region": [REGIONS_HERE],
}
}