
{
"simulation": {
    "archetypes" : {
    "spec": []
    },
    "control": {"duration": duration_here,
                "startmonth": startmonth_here,
                "startyear": startyear_here},
    "facility": [],
    "recipe": [],
    "region": [],
}
}