simulation{

    control {
        duration = 1234
        startmonth = 1
        startyear = 2020
        explicit_inventory=0
        dt=2629846
        decay="lazy"
    }
    
    archetypes {
        spec ["this will be automatically filled"]
    }

    facility {
        "write your facilities here"
    }
    
    region {
        "write your regions here"
    }
    
    recipe {
        "write your recipes here"
    }
}