%A facility that represents predators in the Lotka-Volterra integration 
%tests
%
Predator {
                	%(optional) [int] age of predator at beginning of simulation
                age =0

                	%(optional) [bool] whether or not simultaneous birth and death 
                	%are allowed (i.e., can a facility give birth and die in the 
                	%same time step?)
                birth_and_death =0

                	% [std::string] commodity that the predator supplies
                commod =

                	%(optional) [double] how many units of prey consumed per time 
                	%step
                consumed =0

                	%(optional) [bool] flag for whether predator is currently dea
                	%d
                dead =0

                	%(optional) [double] how many units of prey a predator consumes 
                	%until it is satisfied
                full =1

                	%(optional) [double] how many units of prey a predator can catch 
                	%during a hunt
                hunt_cap =1

                	%(optional) [bool] whether or not to base hunting success on relative 
                	%predator/prey populations
                hunt_factor =0

                	%(optional) [int] how often a predator needs to hunt
                hunt_freq =1

                	%(optional) [int] how long a predator lives
                lifespan =1

                	%(optional) [double] number of predator children born at each 
                	%birthing instance
                nchildren =1

                	% [std::string] prey that the predator hunts
                prey =

                	%(optional) [double] fraction of hunting success on a scale from 
                	%0 to 1
                success =1

}