			%A facility that represents prey in the Lotka-Volterra integration 
			%tests
			%
			%(optional) age of prey at start of simulation
			age {}
			%(optional) whether or not simultaneous birth and death are allowed 
			%(i.e., can a facility give birth and die in the same time 
			%step?)
			birth_and_death {}
			%(optional) number of time steps between birth of children
			birth_freq {}
			%(
			%o
			%p
			%t
			%i
			%o
			%n
			%a
			%l
			%)
			%n
			%o
			% 
			%d
			%o
			%c
			% 
			%a
			%v
			%a
			%i
			%l
			%a
			%b
			%l
			%e
			%.
			commod {}
			%(optional) flag for whether prey is currently dead
			dead {}
			%(optional) number of children born at each birthing instance
			%
			nchildren {}