%A facility that represents prey in the Lotka-Volterra integration 
%tests
%
Prey {
                	%(optional) [int] age of prey at start of simulation
                age =0

                	%(optional) [bool] whether or not simultaneous birth and death 
                	%are allowed (i.e., can a facility give birth and die in the 
                	%same time step?)
                birth_and_death =1

                	%(optional) [int] number of time steps between birth of child
                	%ren
                birth_freq =1

                	% [std::string] no doc available.
                commod =

                	%(optional) [bool] flag for whether prey is currently dead
                dead =0

                	%(optional) [int] number of children born at each birthing in
                	%stance
                nchildren =1

}