% A sink facility that accepts materials and products with a fixed
% 
%throughput (per time step) capacity and a lifetime capacity 
%defined by
% a total inventory size. The inventory size 
%and throughput capacity
% both default to infinite. If a recipe 
%is provided, it will request
% material with that recipe. 
%Requests are made for any number of
% specified commodities
%.
%
%
Sink {
                	%(optional) capacity the sink facility can accept at each time 
                	%step
                capacity=
                	%(optional) preferences for each of the given commodities, in 
                	%the same order.Defauts to 1 if unspecified
                in_commod_prefs=val=
                	%(optional) commodities that the sink facility accepts
                in_commods=val=
                	%(optional) Latitude of the agent's geographical position. The 
                	%value should be expressed in degrees as a double.
                latitude=
                	%(optional) Longitude of the agent's geographical position. The 
                	%value should be expressed in degrees as a double.
                longitude=
                	%(optional) total maximum inventory size of sink facility
                max_inv_size=
                	%(optional) name of recipe to use for material requests, where 
                	%the default (empty string) is to accept everything
                recipe_name=
}