%FuelFab takes in 2 streams of material and mixes them in ratios 
%in order to supply material that matches some neutronics 
%properties of reqeusted material.  It uses an equivalence type 
%method [1] inspired by a similar approach in the COSI fuel 
%cycle simulator.
%
%The FuelFab has 3 input inventories: fissile 
%stream, filler stream, and an optional top-up inventory. 
% All materials received into each inventory are always combined 
%into a single material (i.e. a single fissile material, 
%a single filler material, etc.).  The input streams and requested 
%fuel composition are each assigned weights based on 
%summing:
%
%    N * (p_i - p_U238) / (p_Pu239 - p_U238)
%
%for each 
%nuclide where:
%
%    - p = nu*sigma_f - sigma_a   for the 
%nuclide
%    - p_U238 is p for pure U238
%    - p_Pu239 is p 
%for pure Pu239
%    - N is the nuclide's atom fraction
%    - 
%nu is the average # neutrons per fission
%    - sigma_f is the 
%microscopic fission cross-section
%    - sigma_a is the microscopic 
%neutron absorption cross-section
%
%The cross sections 
%are from the simple cross section library in PyNE. They can 
%be set to either a thermal or fast neutron spectrum.  A linear 
%interpolation is performed using the weights of the fissile, 
%filler, and target streams. The interpolation is used 
%to compute a mixing ratio of the input streams that matches 
%the target weight.  In the event that the target weight is higher 
%than the fissile stream weight, the FuelFab will attempt 
%to use the top-up and fissile input streams together instead 
%of the fissile and filler streams.  All supplied material 
%will always have the same weight as the requested material.
%
%The 
%supplying of mixed material is constrained by available 
%inventory quantities and a per time step throughput limit. 
% Requests for fuel material larger than the throughput can 
%never be met.  Fissile inventory can be requested/received 
%via one or more commodities.  The DRE request preference for 
%each of these commodities can also optionally be specified. 
%By default, the top-up inventory size is zero, and it is not 
%used for mixing. 
%
%[1] Baker, A. R., and R. W. Ross. "Comparison 
%of the value of plutonium and    uranium isotopes in 
%fast reactors." Proceedings of the Conference on    Breeding. 
%Economics, and Safety in Large Fast Power Reactors. 1963.
%
%
FuelFab {
                	%(optional) [['std::vector', 'double']] Filler stream commodity 
                	%request preferences for each of the given filler commodities 
                	%(same order). If unspecified, default is to use 1.0 for all 
                	%preferences.
                fill_commod_prefs {val =}   % The value can be multiple values of val 

                	% [['std::vector', 'std::string']] Ordered list of commodities 
                	%on which to requesting filler stream material.
                fill_commods {val =}

                	% [std::string] Name of recipe to be used in filler material stream 
                	%requests.
                fill_recipe =

                	% [double] Size of filler material stream inventory.
                fill_size =

                	%(optional) [['std::vector', 'double']] Fissile stream commodity 
                	%request preferences for each of the given fissile commodities 
                	%(same order). If unspecified, default is to use 1.0 for 
                	%all preferences.
                fiss_commod_prefs {val =}   % The value can be multiple values of val 

                	% [['std::vector', 'std::string']] Ordered list of commodities 
                	%on which to requesting fissile stream material.
                fiss_commods {val =}

                	%(optional) [std::string] Name for recipe to be used in fissile 
                	%stream requests. Empty string results in use of an empty dummy 
                	%recipe.
                fiss_recipe =""

                	% [double] Size of fissile material stream inventory.
                fiss_size =

                	%(optional) [double] Latitude of the agent's geographical position. 
                	%The value should be expressed in degrees as a double.
                	%
                latitude =0.0

                	%(optional) [double] Longitude of the agent's geographical position. 
                	%The value should be expressed in degrees as a double
                	%.
                longitude =0.0

                	% [std::string] Commodity on which to offer/supply mixed fuel 
                	%material.
                outcommod =

                	% [std::string] The type of cross-sections to use for composition 
                	%property calculation. Use 'fission_spectrum_ave' for fast 
                	%reactor compositions or 'thermal' for thermal reactors.
                spectrum =

                	%(optional) [double] Maximum number of kg of fuel material that 
                	%can be supplied per time step.
                throughput =1e+299

                	%(optional) [std::string] Commodity on which to request material 
                	%for top-up stream. This MUST be set if 'topup_size > 0'.
                	%
                topup_commod =""

                	%(optional) [double] Top-up material stream request preferenc
                	%e.
                topup_pref =1.0

                	%(optional) [std::string] Name of recipe to be used in top-up 
                	%material stream requests. This MUST be set if 'topup_size > 
                	%0'.
                topup_recipe =""

                	%(optional) [double] Size of top-up material stream inventory
                	%.
                topup_size =0

}