%An institution that owns and operates a manually entered list 
%of facilities in the input file
%
ManagerInst {
                         	%(optional) [double] Latitude of the agent's geographical position. 
                         	%The value should be expressed in degrees as a double.
                         	%
                         latitude =0.0

                         	%(optional) [double] Longitude of the agent's geographical position. 
                         	%The value should be expressed in degrees as a double
                         	%.
                         longitude =0.0

                         	% [['std::vector', 'std::string']] A set of facility prototypes 
                         	%that this institution can build. All prototypes in this list 
                         	%must be based on an archetype that implements the cyclus::toolkit::CommodityProducer 
                         	%interface
                         prototypes {val =}

}